 <!-- section 3: partners  -->
 <section id="partners">
     <div class="container">
         <div class="partners__box-title">
             <h2>Information Partners</h2>
             <p>Sample text. Click to select the text box. Click again or double click to start editing the text.
             </p>
         </div>
         <div class="row ">
             <div class="col-md-4 col-lg-3 image-contain-p">
                 <img src={{'2.png' | asset_url}}>
             </div>
             <div class="col-md-4 col-lg-2 image-contain-p">
                 <img src={{"3.png" | asset_url}}>
             </div>
             <div class="col-md-4 col-lg-2 image-contain-p">
                 <img src={{"4.png" | asset_url}}>
             </div>
             <div class="col-md-6 col-lg-2 image-contain-p">
                 <img src={{"5.png" | asset_url}}>
             </div>
             <div class="col-md-6 col-lg-3 image-contain-p">
                 <img src={{"6.png" |  asset_url}}>
             </div>
         </div>
         <button class="readmore-btn">READ MORE</button>
     </div>
 </section>


 {% schema %}
 {
 "name": "Partner",
 "settings": [

 ]
 }
 {% endschema %}

 {% stylesheet %}
 {% endstylesheet %}

 {% javascript %}
 {% endjavascript %}